.action {
    &.primary {
        background-color: #FF5501;
        border-color: #FF5501;
    }
}

.action:hover {
    &.primary {
        background-color: #FF5501;
        border-color: #FF5501;
    }
}

.panel.wrapper{
        padding-left: 15px;
}

.header.content{
    padding-left: 27px;
}

.minicart-wrapper{
    margin-left: 0px;
    .action.showcart{
        margin-left: 6px;
    }
}

.sections.nav-sections{
    padding-left: 15px;
}

.section-items.nav-sections-items{

}

.level-top.ui-corner-all{
    border: 0;
}



Foto area
.fotorama__stage{
    //width: 647px !important;
    height: 649px !important;
}

.fotorama__stage__shaft.fotorama__grab{
    width: 653px !important;
    height: 645px !important;
}

.product.media{
    width: 647px;
    height: 647px;
}
